{% extends 'coin_cal/base.html' %}
{% block title %}硬貨判別メニュー{% endblock %}

{% block content %}
<div>
    <h4 class="mt-4 mb-5 border-bottom">硬貨判別アプリ</h4>
    <p>画像ファイルを選択して計算ボタンを押してください</p>
    <form action="{% url 'coin_cal:predict' %}" method="post" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <div class="custom-file">
            {{ form.image }}
            <label class="custom-file-label" for="customFile">
                ファイルを選択してください
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">判別する</button>
    </form>
</div>
{% endblock %}
